@import "../node_modules/materialize-css/sass/ghpages-materialize";
@import "../node_modules/material-ui-sass/material-ui";

$header-height: 70px;
$footer-height: 70px;

body {
  width: 100%;
  height: 100%;
}

.sheet-container {
  width: 100%;
  text-align: center;
}

.header-container {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0px;
}

.footer-container {
  width: 100%;
  height: $footer-height;
  position: fixed;
  bottom: 0px;
}

.main-container {
  width: 100%;
  min-height: 100%;
  padding: $header-height 0 $footer-height 0;
  background-color: aqua;
}

.posts-container {
  width: 100%;
  text-align: center;
}

.post-container {
  text-align: center;
  margin: 10px;
}
